@import "../pages/ToDoComponent/components/ToDoBoard/ToDoBoard.scss";
@import "~bootstrap/scss/bootstrap";

.max-width {
    width: 100%;
}

.rounded-corners {
    border-radius: 25px;
}

.pad-left-lg {
    padding-left: 1.5rem !important;
};

.pad-left-sm {
    padding-left: 0.75rem !important;
};

.pad-right-lg {
    padding-right: 1.5rem !important;
};

.pad-right-sm {
    padding-right: 0.75rem !important;
};

.margin-left-sm {
    margin-left: 0.75rem !important;
};

.margin-right-sm {
    margin-right: 0.75rem !important;
};

.margin-bottom-sm {
    margin-bottom: 0.75rem !important;
};