.todo-modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1%;
    padding-top: 1%;
    border-top: 2px solid;
}

.todo-modal-header {
    border-bottom: 2px solid;
}

.todo-modal-body {
    display: inline-grid;
}